<div class="h-[75vh]">
    <div class="absolute p-10">
        <div class="bg-base-100 p-5 rounded-lg shadow-xl border-stone-700 border-2">
            <h1 class="text-3xl font-black">
                Service Areas
            </h1>

            <!-- cities -->
            <div class="flex gap-10 my-5 text-xl">
                <ul class="">
                    <li>Kitchener</li>
                    <li>Cambridge</li>
                    <li><a href="">Kitchener</a></li>
                    <li><a href="">Kitchener</a></li>
                    <li><a href="">Kitchener</a></li>
                </ul>

                <ul class="">
                    <li>Kitchener</li>
                    <li>Cambridge</li>
                    <li><a href="">Kitchener</a></li>
                    <li><a href="">Kitchener</a></li>
                    <li><a href="">Kitchener</a></li>
                </ul>

                <ul class="">
                    <li>Kitchener</li>
                    <li>Cambridge</li>
                    <li><a href="">Kitchener</a></li>
                    <li><a href="">Kitchener</a></li>
                    <li><a href="">Kitchener</a></li>
                </ul>

            </div>
            
            <div class="flex justify-center gap-3 mt-5">
                <button class="btn btn-neutral text-white">Book Visit</button>
                <button class="btn btn-neutral text-white">Call Now</button>
            </div>
        </div>
        
    </div>

    <iframe  style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/view?key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8&amp;center=43.4583527%2C-80.4108824&amp;zoom=11.5"></iframe>
</div>

<div class="h-24 bg-red-600">

</div>
