<div class="flex gap-3 lg:gap-8 items-center justify-center flex-wrap py-10 bg-base-100">
    <img class="w-24" src="https://www.usnews.com/object/image/00000184-ee54-d8e9-ada4-eedce6760000/carrier.png?update-time=1670445919902&size=responsiveFlow300" alt="">
    <img class="w-24 " src="https://www.usnews.com/object/image/00000183-236f-d301-af97-af6f811d0000/bryant-logo.png?update-time=1706215293641&size=responsiveFlow300" alt="">
    <img class="w-24 " src="https://www.usnews.com/object/image/00000183-2373-db7c-afc7-2bffda1a0000/goodman.png?update-time=1662747162266&size=responsiveFlow300" alt="">
    <img class="w-24 " src="https://www.usnews.com/object/image/00000183-2374-d301-af97-af75b5af0000/lennox-logo.png?update-time=1706215589608&size=responsiveFlow300" alt="">
    <img class="w-24 " src="https://t1.gstatic.com/images?q=tbn:ANd9GcRpohKbnq-anQKsmucxU90wQ2ZlhCeoiTqF_Cfx5SfxTiY_vPkc" alt="">
    <img class="w-24 " src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/DAIKIN_logo.svg/2560px-DAIKIN_logo.svg.png" alt="">
    <img class="w-24 " src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/10/Mitsubishi_Electric_logo.svg/2880px-Mitsubishi_Electric_logo.svg.png" alt="">
    <img class="w-24 " src="https://upload.wikimedia.org/wikipedia/en/thumb/e/ee/Trane_logo.svg/1096px-Trane_logo.svg.png?20180527221047" alt="">
    <img class="w-24 " src="https://upload.wikimedia.org/wikipedia/en/d/d9/CaptiveAire_logo.jpg" alt="">
</div>