<!-- top curve -->
<div class="bg-red-600">
    <div class="h-24 rounded-b-[80%] bg-base-100">
    </div>
  </div>

<!-- main info -->
<div class="bg-red-600 text-white py-10 mb-10 rounded-b-[30%] shadow-xl">
    <div class="text-center pb-3">
        <p class="text-lg text-slate-200 ">Over 5 Years of Experience</p>
    </div>
    <div class="container mx-auto grid grid-cols-1 lg:grid-cols-2 content-center h-full text-center justify-between my-10">
        <div class="">
            <p class="text-white font-black text-5xl mb-5 lg:mb-2">Call For Same Day Service!</p>
            <p class="text-lg mt">24/7 Emergency Heating and Cooling Service</p>
        </div>
        <div class="tooltip" data-tip="Click To Call">
            <div class="flex justify-center align-center gap-2 text-center mt-4">
                <a class="btn text-4xl bg-transparent text-white border-0 hover:text-black hover:bg-transparent hover:scale-[1.2] transition duration-200" href=tel:5551234567><svg xmlns="http://www.w3.org/2000/svg" width="40" height="" fill="currentColor" class="bi bi-telephone-fill animate-pulse" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
                    </svg>Call us now!</a>
            </div>
        </div>
        
        
    </div>

    <!-- city list -->
     
     
</div>