<div class="bg-base-100 text-center pt-10  grid content-center border-t border-t-2 border-t-stone-700"> 
    <div class="container mx-auto mt-10 flex flex-col lg:flex-row">
        <div class="grid grid-cols-1 content-center">
            <img src="https://img.sm360.ca/images/web/dilawri-group-of-companies/2903/214961666646659722.jpg" alt="">
        </div>

        <div class="py-10 container mx-auto">
            <!-- <h1 class="font-title text-center text-[clamp(2rem,6vw,4.2rem)] font-black leading-[1.1] [word-break:auto-phrase] [:root[dir=rtl]_&amp;]:leading-[1.35]">
               HVAC Masters
            </h1> -->
            <h1 class="font-title text-[clamp(1.35rem,3.5vw,3.2rem)] my-5 text-red-700 font-bold font-black">Your Trusted Partner for HVAC Needs!</h1>
            <p class="px-10  md:text-xl mt-5">At Your Local Aircon Services, we take pride in being your go-to local experts for all your air conditioning needs in Sydney. Our team of dedicated and qualified technicians is committed to providing top-notch services, ensuring your comfort and satisfaction.</p>
        </div>
    </div>
</div>