<div class="px-10 h-full grid content-center">
    <div class="text-white">
        <h1 class="font-title text-center text-[clamp(2rem,6vw,4.2rem)] font-black leading-[1.1] [word-break:auto-phrase] xl:text-start [:root[dir=rtl]_&amp;]:leading-[1.35]">
          HVAC SERVICES IN <br> KITCHENER WATERLOO
        </h1>

        <p class="lg:text-xl w-full text-center xl:text-start xl:w-1/2 mt-5 lg:mt-2">Best HVAC repair and service company in Kitchener-Waterloo and Cambridge. Air Conditioner repair, emergency AC repair and Over all any Home HVAC repair.</p>
        <div class="mt-10 flex  gap-5 justify-center xl:justify-start">
          <button class="btn border-stone-700 border-2 text-stone-700">Our Services</button>
          <button class="btn border-stone-700 border-2 text-stone-700">Book A Visit</button>
        </div>
        
    </div>
  </div>