<div class="grid grid-cols-2 lg:grid-cols-4 mt-16 gap-3 px-3 mb-10 py-10">
  <!-- installation Services -->
  <div class="flex gap-4 items-start">
    <div class="mt-1 bg-black rounded-full p-2 w-12 h-12 shrink-0">
      <img class="invert" src="https://www.svgrepo.com/show/353163/install.svg" alt="">
    </div>
    <div>
      <h3 class="font-semibold text-lg">Installation Services</h3>
      <p class="text-slate-500 mt-2 text-sm">
        New System Installation: Installing new HVAC systems, including air conditioners, furnaces, heat pumps, and ductless systems.
      </p>
    </div>
  </div>

  <!-- Repair Services -->
  <div class="flex gap-4 items-start">
    <div class="mt-1 bg-black rounded-full p-2 w-8 h-8 shrink-0">
      <svg
        width="1em"
        height="1em"
        viewBox="0 0 24 24"
        class="text-white"
        data-icon="bx:bxs-window-alt"
      >
        <symbol id="ai:bx:bxs-window-alt">
          <path
            d="M20 3H4c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2V5c0-1.103-.897-2-2-2zm-3 3h2v2h-2V6zm-3 0h2v2h-2V6zM4 19v-9h16.001l.001 9H4z"
            fill="currentColor"
          ></path>
        </symbol>
        <use xlink:href="#ai:bx:bxs-window-alt"></use>
      </svg>
    </div>
    <div>
      <h3 class="font-semibold text-lg">Repair Services</h3>
      <p class="text-slate-500 mt-2 text-sm">
        4/7 repair services for HVAC system breakdowns or malfunctions
      </p>
    </div>
  </div>
  <div class="flex gap-4 items-start">
    <div class="mt-1 bg-black rounded-full p-2 w-8 h-8 shrink-0">
      <svg
        width="1em"
        height="1em"
        viewBox="0 0 24 24"
        class="text-white"
        data-icon="bx:bxs-data"
      >
        <symbol id="ai:bx:bxs-data">
          <path
            d="M20 6c0-2.168-3.663-4-8-4S4 3.832 4 6v2c0 2.168 3.663 4 8 4s8-1.832 8-4V6zm-8 13c-4.337 0-8-1.832-8-4v3c0 2.168 3.663 4 8 4s8-1.832 8-4v-3c0 2.168-3.663 4-8 4z"
            fill="currentColor"
          ></path>
          <path
            d="M20 10c0 2.168-3.663 4-8 4s-8-1.832-8-4v3c0 2.168 3.663 4 8 4s8-1.832 8-4v-3z"
            fill="currentColor"
          ></path>
        </symbol>
        <use xlink:href="#ai:bx:bxs-data"></use>
      </svg>
    </div>
    <div>
      <h3 class="font-semibold text-lg">On-Demand Components</h3>
      <p class="text-slate-500 mt-2 leading-relaxed">
        Need some JS? Astro can automatically hydrate interactive components
        when they become visible on the page.
      </p>
    </div>
  </div>
  <div class="flex gap-4 items-start">
    <div class="mt-1 bg-black rounded-full p-2 w-8 h-8 shrink-0">
      <svg
        width="1em"
        height="1em"
        viewBox="0 0 24 24"
        class="text-white"
        data-icon="bx:bxs-bot"
      >
        <symbol id="ai:bx:bxs-bot">
          <path
            d="M21 10.975V8a2 2 0 0 0-2-2h-6V4.688c.305-.274.5-.668.5-1.11a1.5 1.5 0 0 0-3 0c0 .442.195.836.5 1.11V6H5a2 2 0 0 0-2 2v2.998l-.072.005A.999.999 0 0 0 2 12v2a1 1 0 0 0 1 1v5a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-5a1 1 0 0 0 1-1v-1.938a1.004 1.004 0 0 0-.072-.455c-.202-.488-.635-.605-.928-.632zM7 12c0-1.104.672-2 1.5-2s1.5.896 1.5 2s-.672 2-1.5 2S7 13.104 7 12zm8.998 6c-1.001-.003-7.997 0-7.998 0v-2s7.001-.002 8.002 0l-.004 2zm-.498-4c-.828 0-1.5-.896-1.5-2s.672-2 1.5-2s1.5.896 1.5 2s-.672 2-1.5 2z"
            fill="currentColor"
          ></path>
        </symbol>
        <use xlink:href="#ai:bx:bxs-bot"></use>
      </svg>
    </div>
    <div>
      <h3 class="font-semibold text-lg">Broad Integration</h3>
      <p class="text-slate-500 mt-2 leading-relaxed">
        Astro supports TypeScript, Scoped CSS, CSS Modules, Sass, Tailwind,
        Markdown, MDX, and any other npm packages.
      </p>
    </div>
  </div>

  <div class="flex gap-4 items-start">
    <div class="mt-1 bg-black rounded-full p-2 w-8 h-8 shrink-0">
      <svg
        width="1em"
        height="1em"
        viewBox="0 0 24 24"
        class="text-white"
        data-icon="bx:bxs-briefcase"
      >
        <symbol id="ai:bx:bxs-briefcase">
          <path
            d="M20 6h-3V4c0-1.103-.897-2-2-2H9c-1.103 0-2 .897-2 2v2H4c-1.103 0-2 .897-2 2v3h20V8c0-1.103-.897-2-2-2zM9 4h6v2H9V4zm5 10h-4v-2H2v7c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2v-7h-8v2z"
            fill="currentColor"
          ></path>
        </symbol>
        <use xlink:href="#ai:bx:bxs-briefcase"></use>
      </svg>
    </div>
    <div>
      <h3 class="font-semibold text-lg">Heating</h3>
      <p class="text-slate-500 mt-2 leading-relaxed">
        We Provide best heating service
      </p>
    </div>
  </div>
  <div class="flex gap-4 items-start">
    <div class="mt-1 bg-black rounded-full p-2 w-8 h-8 shrink-0">
      <svg
        width="1em"
        height="1em"
        viewBox="0 0 24 24"
        class="text-white"
        data-icon="bx:bxs-window-alt"
      >
        <symbol id="ai:bx:bxs-window-alt">
          <path
            d="M20 3H4c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2V5c0-1.103-.897-2-2-2zm-3 3h2v2h-2V6zm-3 0h2v2h-2V6zM4 19v-9h16.001l.001 9H4z"
            fill="currentColor"
          ></path>
        </symbol>
        <use xlink:href="#ai:bx:bxs-window-alt"></use>
      </svg>
    </div>
    <div>
      <h3 class="font-semibold text-lg">100% Static HTML, No JS</h3>
      <p class="text-slate-500 mt-2 leading-relaxed">
        Astro renders your entire page to static HTML, removing all JavaScript
        from your final build by default.
      </p>
    </div>
  </div>
  <div class="flex gap-4 items-start">
    <div class="mt-1 bg-black rounded-full p-2 w-8 h-8 shrink-0">
      <svg
        width="1em"
        height="1em"
        viewBox="0 0 24 24"
        class="text-white"
        data-icon="bx:bxs-data"
      >
        <symbol id="ai:bx:bxs-data">
          <path
            d="M20 6c0-2.168-3.663-4-8-4S4 3.832 4 6v2c0 2.168 3.663 4 8 4s8-1.832 8-4V6zm-8 13c-4.337 0-8-1.832-8-4v3c0 2.168 3.663 4 8 4s8-1.832 8-4v-3c0 2.168-3.663 4-8 4z"
            fill="currentColor"
          ></path>
          <path
            d="M20 10c0 2.168-3.663 4-8 4s-8-1.832-8-4v3c0 2.168 3.663 4 8 4s8-1.832 8-4v-3z"
            fill="currentColor"
          ></path>
        </symbol>
        <use xlink:href="#ai:bx:bxs-data"></use>
      </svg>
    </div>
    <div>
      <h3 class="font-semibold text-lg">On-Demand Components</h3>
      <p class="text-slate-500 mt-2 leading-relaxed">
        Need some JS? Astro can automatically hydrate interactive components
        when they become visible on the page.
      </p>
    </div>
  </div>
  <div class="flex gap-4 items-start">
    <div class="mt-1 bg-black rounded-full p-2 w-8 h-8 shrink-0">
      <svg
        width="1em"
        height="1em"
        viewBox="0 0 24 24"
        class="text-white"
        data-icon="bx:bxs-bot"
      >
        <symbol id="ai:bx:bxs-bot">
          <path
            d="M21 10.975V8a2 2 0 0 0-2-2h-6V4.688c.305-.274.5-.668.5-1.11a1.5 1.5 0 0 0-3 0c0 .442.195.836.5 1.11V6H5a2 2 0 0 0-2 2v2.998l-.072.005A.999.999 0 0 0 2 12v2a1 1 0 0 0 1 1v5a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-5a1 1 0 0 0 1-1v-1.938a1.004 1.004 0 0 0-.072-.455c-.202-.488-.635-.605-.928-.632zM7 12c0-1.104.672-2 1.5-2s1.5.896 1.5 2s-.672 2-1.5 2S7 13.104 7 12zm8.998 6c-1.001-.003-7.997 0-7.998 0v-2s7.001-.002 8.002 0l-.004 2zm-.498-4c-.828 0-1.5-.896-1.5-2s.672-2 1.5-2s1.5.896 1.5 2s-.672 2-1.5 2z"
            fill="currentColor"
          ></path>
        </symbol>
        <use xlink:href="#ai:bx:bxs-bot"></use>
      </svg>
    </div>
    <div>
      <h3 class="font-semibold text-lg">Broad Integration</h3>
      <p class="text-slate-500 mt-2 leading-relaxed">
        Astro supports TypeScript, Scoped CSS, CSS Modules, Sass, Tailwind,
        Markdown, MDX, and any other npm packages.
      </p>
    </div>
  </div>


  <div class="flex gap-4 items-start">
    <div class="mt-1 bg-black rounded-full p-2 w-8 h-8 shrink-0">
      <svg
        width="1em"
        height="1em"
        viewBox="0 0 24 24"
        class="text-white"
        data-icon="bx:bxs-briefcase"
      >
        <symbol id="ai:bx:bxs-briefcase">
          <path
            d="M20 6h-3V4c0-1.103-.897-2-2-2H9c-1.103 0-2 .897-2 2v2H4c-1.103 0-2 .897-2 2v3h20V8c0-1.103-.897-2-2-2zM9 4h6v2H9V4zm5 10h-4v-2H2v7c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2v-7h-8v2z"
            fill="currentColor"
          ></path>
        </symbol>
        <use xlink:href="#ai:bx:bxs-briefcase"></use>
      </svg>
    </div>
    <div>
      <h3 class="font-semibold text-lg">Heating</h3>
      <p class="text-slate-500 mt-2 leading-relaxed">
        We Provide best heating service
      </p>
    </div>
  </div>
  <div class="flex gap-4 items-start">
    <div class="mt-1 bg-black rounded-full p-2 w-8 h-8 shrink-0">
      <svg
        width="1em"
        height="1em"
        viewBox="0 0 24 24"
        class="text-white"
        data-icon="bx:bxs-window-alt"
      >
        <symbol id="ai:bx:bxs-window-alt">
          <path
            d="M20 3H4c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2V5c0-1.103-.897-2-2-2zm-3 3h2v2h-2V6zm-3 0h2v2h-2V6zM4 19v-9h16.001l.001 9H4z"
            fill="currentColor"
          ></path>
        </symbol>
        <use xlink:href="#ai:bx:bxs-window-alt"></use>
      </svg>
    </div>
    <div>
      <h3 class="font-semibold text-lg">100% Static HTML, No JS</h3>
      <p class="text-slate-500 mt-2 leading-relaxed">
        Astro renders your entire page to static HTML, removing all JavaScript
        from your final build by default.
      </p>
    </div>
  </div>
  



 
</div>
